body {background-color: black;}

.one {
    position: absolute;
    top: 235px;
    left: 100px;
    right: 100px;
    bottom: 200px;
    width: 1000px;
    height: 500px;
}

.one-1 {font-size: 50px; color:burlywood;}

.one-2 {font-size: 100px; color:chartreuse}

.two {
    position: absolute;
    top: 70px;
    left: 100px;
    right: 120px;
    bottom: 120px;
    width: 30px;
    height: 21.6px;
}

.two-1 {font-size: 30px; color: burlywood;}

.brain-img {
    width: 400px; height: 400px;
    position: absolute;
    left: 1000px; top: 160px;
}

.lets {
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: burlywood;
    font-size: 25px;
    font-weight: 1000;
    border-width: 3px;
    border-color: burlywood;
    border-style: solid;
}