body {background-color: black;}

.one {
    position: absolute;
    top: 235px;
    left: 100px;
    right: 100px;
    bottom: 200px;
    width: 1000px;
    height: 500px;
}

.one-1 {font-size: 50px; color:burlywood;}

.one-2 {font-size: 100px; color:chartreuse}

.yjcp-c {
    color:  chartreuse;
    font-size: 70px;
    font-weight: 1000;
}

.brain-img {
    width: 400px; height: 400px;
    position: absolute;
    left: 1000px; top: 160px;
}

.yjcp-p {
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}